.container{
    display: grid;
    grid-template-columns:repeat(14,1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 500px;
    width: 80%;
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
}
.box{
    text-align: center;
    padding: 10px;
    
}
.box1{
    background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
    grid-column: 1/3;
    grid-row: 1/2;
}
.box2{
    background-image: linear-gradient(45deg, #cbabfb 0%, #fb7ef6 60%);
    grid-column: 3/11;
    grid-row: 1/3;
}
.box3{
    background-image: linear-gradient(45deg, #79ebe0 0%, #70c1fb 60%);
    grid-column: 11/15;
    grid-row: 1/2;
}
.box4{
    background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
    grid-column: 1/3;
    grid-row: 2/3;
}
.box5{
    background-image: linear-gradient(45deg, #79ebe0 0%, #70c1fb 60%);
    grid-column: 11/15;
    grid-row: 2/3;
}
.box6{
    background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
    grid-column: 1/3;
    grid-row: 3/4;
}
.box7{
    background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
    grid-column: 3/5;
    grid-row: 3/4;
}
.box8{
    background-image: linear-gradient(45deg, #cbabfb 0%, #fb7ef6 60%);
    grid-column: 5/11;
    grid-row: 3/5;
}
.box9{
    background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
    grid-column: 11/13;
    grid-row: 3/4;
}
.box10{
    background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
    grid-column: 13/15;
    grid-row: 3/4;
}
.box11{
    background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
    grid-column: 1/3;
    grid-row: 4/5;
}
.box12{
    background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
    grid-column: 3/5;
    grid-row: 4/5;
}
.box13{
    background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
    grid-column: 11/13;
    grid-row: 4/5;
}
.box14{
    background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
    grid-column: 13/15;
    grid-row: 4/5;
}
/* .shape {
    background: #fff;
    height: 20px;
    text-align: center;
    transform:rotate(45deg);
      width:20px;
  }
  .diamond {
    color: #333;
    display: table-cell;
    height: 60px;
    transform: rotate(-45deg);
    vertical-align: middle;
      width:60px;
  } */