nav{
    width: 60%;
    background-color: rgb(21, 2, 39);
    padding: 20px;
    color: white;
}
a{
    margin-top: -20px;
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: larger;
}
#a1{
    color: rgb(179, 176, 176);
}
img{
    margin-bottom: -10px;
}
.icon{
    color: white;
}
